<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/29653ac336.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/login.css">
    <title>Login</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
    <a href="/views/home.html"><img class="logo" src="/public/images/logomercadoliebre.svg" alt="logo-mercado-libre"></a>
        <div class="barra-busqueda">
            <input type="text" placeholder="Buscar" class="tamaño-barra"><button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito  
            </h2>
    </div>

    <nav class="main-header-navbar">
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>

        </ul>
        <ul >
            <li><a href="/views/register.html">Creá tu cuenta<i class="fa-solid fa-address-card"></i></a></li>
            <li><a href="/views/login.html">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
            <li><a href="">Mis compras<i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </nav>
    <a href="#" class="hamburguer-button">
        <i class="fa-solid fa-bars"></i>
    </a>

    </header>

    <main>
        <form action="/login" method="post">
    <div class="conteiner-login">
<section>
<label for="">Ingrese su nombre de usuario: </label>
    <input type="text" placeholder="Nombre de usuario">
</section>
<section>
    <label for="">Ingrese su contraseña: </label>
    <input type="password" value="" placeholder="Contraseña"></section>
<a href="#" class="button-enviar">Iniciar sesion</a>
    </div>
</form>
    </main>
    <footer>
            <div>
                <i class="fa-solid fa-credit-card"></i>
                <h3 class="texto-producto-titulo">Pagá con tarjeta o en efectivo</h3>
                <h4>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</h4>
            </div>
            <div>
                <i class="fa-solid fa-gift"></i>
                <h3 class="texto-producto-titulo">Envío gratis desde $ 2.500</h3>
                <h4>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</h4>
            </div>
            <div>
                <i class="fa-solid fa-user-shield"></i>
                <h3 class="texto-producto-titulo">Seguridad, de principio a fin</h3>
                <h4>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</h4> 
                </div>  
                <section class="bottom-footer" >
                    <h5 >Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
                </section>
                
        
    </footer>
</body>
</html>